<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>
</head>
<body>
<center>
    <a href="/create-category">Create new category</a>
    <h1>Provinces</h1>
    <table border="1">
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>View</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
        <th:block th:each="category : ${categories}">
            <tr>
                <td th:text="${category.getId()}"></td>
                <td th:text="${category.getName()}"></td>
                <td><a th:href="@{/view-category/__${category.id}__}">View</a> </td>
                <td><a th:href="@{/edit-category/__${category.id}__ }">Edit</a></td>
                <td><a th:href="@{/delete-category/__${category.id}__ }">Delete</a></td>
            </tr>
        </th:block>
    </table>
</center>
</body>
</html>