<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View category</title>
</head>
<body>
<center>
    <h1>View Category: <span th:text="${category.name}"></span></h1>
    <a href="/categories">Category list</a>
    <table border="1">
        <tr>
            <td>Title</td>
            <td>Description</td>
        </tr>
        <th:block th:each="blog : ${blogs}">
            <tr>
                <td th:text="${blog.title}"></td>
                <td th:text="${blog.description}"></td>
            </tr>
        </th:block>
    </table>
</center>
</body>
</html>