<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Blog</title>
</head>
<body>
<center>
<a href="/create-blog">Create new blog</a>
<h1>Blogs</h1>
<table border="1">
    <tr>
        <th>Title </th>
        <th>Description</th>
        <th>View</th>
        <td>Edit</td>
        <td>Delete</td>
    </tr>
    <th:block th:each="blog : ${blogs}">
        <tr>
            <td th:text="${blog.title}"></td>
            <td th:text="${blog.description}"></td>
            <td><a th:href="@{/view-blog/__${blog.id}__ }">View</a></td>
            <td><a th:href="@{/update-blog/__${blog.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete-blog/__${blog.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
</center>
</body>
</html>