<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create province</title>
</head>
<body>
<center>
    <h1>Create province</h1>
    <p>
        <a href="/provinces">Province list</a>
    </p>
    <th:block th:if="${message}">
        <p th:text="${message}"></p>
    </th:block>
    <form th:action="@{/create-province}" th:object="${province}" method="post">
        <table border="1">
            <tr>
                <td>Name : </td>
                <td><input type="text" th:field="*{name}"> </td>
            </tr>
        </table>
        <input type="submit" value="Create province">
    </form>
</center>
</body>
</html>