<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Input PhoneNumber</title>
</head>
<body>
<center>
    <form th:action="@{/phoneNumber}" th:object="${phoneNumber}" method="post">
    <table>
        <tr>
            <td>PhoneNumber</td>
            <td><input type="text" th:field="*{number}"></td>
            <td th:if="${#fields.hasErrors('number')}" th:errors="*{number}">PhoneNumber Error</td>
        </tr>
    </table>
    <input type="submit" value="Submit">
    </form>
</center>
</body>
</html>